<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="http://cdn.bootcss.com/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/bootstrapValidator.min.css" rel="stylesheet" />
  <link href="/stylesheets/sqy.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h2 class="text-center">Welcome!</h2>
  <div class="row">
    <div class="span2"></div>
    <div class="span8">
      <form id="startForm" class="form-horizontal" method="get" action="/test">
        <blockquote>
          <p>안녕하세요.</p>
          <p>실험에 참가해 주셔서 매우 감사합니다.</p>
          
          <h4>실험설명</h4>
          <p>총 2 문제 세트가 있으며, 한 세트에는 2 문제로 구성되어 있습니다. 한 문제당 <%= duration / 60 / 2 %>분의 시간이 주어집니다.</p>
          <p>단, [문제 1]을 문제1을 푸는 동안에는 [문제 2]을 보거나 풀 수 없습니다.</p>
          <p>[문제 1]의 제한 시간 <%= duration / 60 / 2 %>분이 지나면 자동적으로 [문제 2]로 넘어갑니다.</p>
          <p>각 문제에서 입력한 내용은 자동적으로 저장됩니다.</p>
          
          <h4>평가방식</h4>
          <p>주어진 문제에 대한 창의적인 해결 방안을 제시하는 과제입니다.</p>
          <p>창의적이고 실용적인 방안을 가능한 많이 제시해주십시오.</p>

          <h4>피험자 번호</h4>
          <p>준비가 다 되시면 실험자의 안내에 따라 피험자 번호를 입력 하십시오.</p>
          <br/>

          <div class="form-group">
            <label for="pid">Participant ID:</label>
            <div class="col-sm-4">
              <input id="pid" class="form-control" type="number" name="pid"/>
            </div>
          </div>
        </blockquote>
        <div class="form-group text-center">
          <br/>
          <p class="text-center">“START” 버튼을 누르면 실험이 시작됩니다.</p>
          <br/>
          <button type="submit" class="btn btn-success btn-large">START</button>
        </div>
      </form>
    </div>
    <div class="span2"></div>
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
<script>
$(document).ready(function() {
  $('#startForm').bootstrapValidator({
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      pid: {
        row: '.col-xs-4',
        validators: {
          notEmpty: {
              message: 'The participant ID is required'
          },
          numeric: {
              message: 'The participant ID must be a number'
          }
        }
      }
    }
  });
});
</script>
</body>
</html>