<h3>문제4</h3>
<p>피고인은 평소 딸의 시어머니에 대한 악감정 등으로 인해 딸의 시어머니를 살해했다는 혐의로 기소 됨</p>

<h4>기초사실</h4>
<p>피고인은 1983년경 피해자 조덕옥(여, 71세)의 아들과 결혼한 피고인의 딸이 피해자(사돈댁) 때문에 고생하는 것을 보고 피해자에 대하여 좋지 않은 감정을 품고 있던 중, 2005. 4.. 피고인의 남편이 피고인과 부부싸움을 하고 집을 나간 후 귀가하지 않자 다음 날인 2005. 4. 오후 경 평창읍에 거주하는 피고인의 큰아들과 남편 문제를 상의하기 위하여 강원도 영월군 주천면을 경유하여 평창으로 가기 위해 주천면에 도착하였으나 평창으로 가는 차가 이미 출발한 후라 생각을 바꾸어 제천시에 거주하는 딸의 집으로 가기로 하고 영월군 서면 신천리에서 제천가는 버스를 갈아타기 위하여 버스를 타고 신천리 버스정류장에서 내렸으나 제천가는 버스가 이미 출발하였다는 말을 듣고는 다시 생각을 바꾸어 신천리 버스정류장에서 가까운 곳에 살고 있는 피해자(사돈댁)를 찾아감</p>

<table class="stimuli">
  <thead>
    <tr>
      <th>쟁 점</th>
      <th>검사 측</th>
      <th>변호인</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>피고인의 진술</td>
      <td>
        <ul>
          <li>당초 이 사건 당일 범행 현장에 가지 않고 경기도 분당에 있는 병원에 갔었고 그곳에서 마을 사람인 이OO에게 전화를 한 적이 있다고 거짓진술 </li>
          <li>피고인 자신의 휴대전화 발신내역을 삭제하기까지 하였다가 피고인의 휴대전화 발신내역을 조사한 결과 사건 당일 19:02경 강원도 영월군 주천기지국에서 위 이OO에게 발신한 내역과 같은 날 20:32경부터 20:50 사이에 피해자의 집이 있는 강원도 영월군 서면기지국에서 주천택시부에 발신한 내역이 확인되자 비로소 자신이 사건 당일 범행 현장에 갔었다고 시인을 하고 나아가 이 사건 공소사실을 자백 </li>
          <li>피고인의 경찰 이래 검찰에서의 진술경과에 비추어 볼 때 피고인의 검찰에서의 자백에 신빙성이 있음  </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>수사과정에서 딸이 혐의를 받게 되고, 피해자의 집 근처 기지국에서 피고인 휴대전화의 발신 흔적이 포착되었음이 드러나자 혹시 자신의 딸이 범행을 하였을지도 모른다고 생각한 나머지 딸을 보호하기 위하여 수사 당시 자백</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        사건 현장 및 사건발생 후 상황
      </td>
      <td>
        <ul>
          <li>피고인이 단순히 범행 현장에서 사돈관계인 피해자가 사망한 것을 목격하였다는 이유로 범인으로 몰릴까봐 수사기관에 신고하지도 않은 채 현장을 빠져나왔다는 점</li>
          <li>범행 현장에서 여자의 것으로 추정되는 족적이 발견되었는데 피고인은 2005. 4. 21. 범행 현장을 목격한 뒤인 같은 달 26. 내지 27.경 자신이 범행 현장에 신고 갔던 신발을 소각한 점</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>당황한 나머지 신고하지 않고 즉시 피해자의 집을 나왔을 뿐이고, 용의자로 의심받을까봐 피해자를 찾아간 사실을 부인</li>
          <li>한편 그 때 신고 갔던 신발을 태워버리는 등 의심스러운 행동을 하게 된 것</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>지문과 모발 증거</td>
      <td>
        <ul>
          <li>범행 현장에서 피고인의 지문과 모발이나 피고인이 입고 있던 옷의 섬유질이 발견되지 않았다 하더라도 피고인이 이 사건 범행을 저질렀다고 인정하는데 장애가 되지는 않음 </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>범행 현장에서 피고인의 지문과 모발이나 피고인이 입고 있던 옷의 섬유질이 발견되지 않았음</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>최초 피해자 발견당시 피해자 상황에 대한 진술</td>
      <td>
        <ul>
          <li>피해자의 사체를 최초로 발견한 이웃 주민 김00은 피해자를 발견할 당시 피해자의 사체가 이불로 덮여 있어 이불 3채 내지 4채 정도를 걷어보니 피해자가 안경을 쓴 채로 옆으로 누운 채 입에는 청테이프가 붙여져 있는 상태였다고 진술</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인은 원심 법정 이래 일관하여 자신이 피해자를 발견할 당시 피해자의 가슴에서 발목 부분까지 홑이불만 덮여 있었다고 진술</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>살해방식</td>
      <td>
        <ul>
          <li>피해자의 양손을 잡고 방바닥에 쓰러뜨려 놓고 그곳 쌀통 위 종이박스 속에 들어 있는 청테이프로 피해자의 양손을 수회 감아 피해자가 반항을 하지 못하게 하고, 피해자가 계속하여 “사람 살려”라고 악을 쓰며 소리치자 재차 피해자를 방바닥에 눕혀 청테이프로 피해자의 입과 코를 막고 다리를 결박한 채 옆방으로 가 장롱 속에서 이불을 수채 꺼내 들고 와 오른쪽 수족을 쓰지 못하는 피해자의 얼굴 부위를 덮어 그 무렵 같은 장소에서 비구폐색으로 사망하게 하여 피해자를 살해</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인이 피해자를 결박하였다는 청테이프에서는 아무런 지문이 현출되지 않았음, </li>
          <li>범행 현장 쓰레기통에 있던 청테이프롤에서 현출된 지문이나 범인이 피해자를 덮기 위하여 이불을 꺼낸 것으로 보이는 장롱의 손잡이에서 채취된 지문 또한 지문상태가 불량하고 특징점을 찾을 수 없어 감정이 불가능</li>
          <li>지문이나 모발 및 섬유 성분의 유류 없이 피해자의 반항을 완벽하게 억압하고 청테이프를 잘라가며 피해자를 결박하여 살해하는 것이 과연 가능한 것인지 의심</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>피해자의 신체적 능력</td>
      <td>
        <ul>
          <li>피해자는 신장 148㎝, 체중 42㎏의 왜소한 체격에 71세의 고령으로 오랫동안 앓고 있는 중풍으로 오른쪽 팔과 다리를 자유롭게 쓸 수 없는 상태였던 데 비하여 피고인은 남편의 도움 없이 혼자 농사일과 집안 살림을 도맡아 할 정도의 체력을 갖고 있는 사실이 인정되므로, 피고인이 검찰에서 진술한 범행 방법과 같이 먼저 피해자를 밀어 넘어뜨린 상태에서라면 굳이 다른 사람의 힘을 빌릴 필요 없이 혼자서도 테이프로 피해자의 입을 막고 손발을 묶은 다음 이불을 덮어 씌우는 것이 불가능하다고는 보이지 않음</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인이나 피해자 모두에게 별다른 상처 없음</li>
          <li>지문이나 모발 및 섬유 성분의 유류 없이 피해자의 반항을 완벽하게 억압하고 청테이프를 잘라가며 피해자를 결박하여 살해하는 것이 과연 가능한 것인지 의심</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>범행동기</td>
      <td>
        <ul>
          <li>피고인은 1983년경 피해자(여, 71세)의 아들과 결혼한 피고인의 딸이 사위의 월급을 모두 갖고 내놓지 않는 피해자 때문에 경제적으로 어려운 생활을 하고 약 10여년 전 발병한 피해자의 중풍, 노인성치매증으로 인하여 고생하는 것을 보고 피해자에 대하여 좋지 않은 감정을 품고</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>범행 무렵 피해자가 죽어야 안미자가 편해질 것이라는 이야기를 하였다는 정도만으로 피고인이 피해자를 살해할 범의를 일으켰다고 인정하기에는 부족</li>
          <li>사건 발생일 무렵에는 피해자가 치매증세로 치료를 받고 있다는 사정까지 잘 알고 있는 피고인이 공소사실 기재와 같이 사돈인 고령의 피해자가 자신을 도둑으로 오인하여 소리를 지른다 하여 갑자기 격분하여 피해자를 살해하는 범행에 나아가게 되었다거나 실제 도둑으로 몰릴 것이 두려운 나머지 전화선을 자르고 피해자를 결박하기까지 하였다는 것도 선뜻 납득하기 어려움</li>
        </ul>
      </td>
    </tr>
</tbody>
</table>