<h3>문제3</h3>
<h4>사건내용</h4>
<p>피고인은 2003. 4.  만화방을 개업하여 적자 상태로 운영되던 중 이 사건 화재 한달 전인 2003. 5. 12. 보험에 가입하였음.</p>

<h4>기초사실</h4>
<ul>
  <li>경찰은 사건 다음 날인 13:30경 피고인이 지켜보는 가운데 위 수정만화방의 계산대 앞 부근 바닥에서 타다 남은 흰색 플라스틱 통이 푸른색 비닐봉지(이하 이 사건 봉지라 한다)에 들어 있는 것을 발견</li>
  <li>국립과학수사연구소에 연소잔류물에 대한 감정을 의뢰 한 결과
    <ol>
      <li>연소잔류물에서 석유류 성분이 검출된 점, 위 만화방의 바닥 부분이 넓고 심하게 소훼된 점 등을 근거로 화재는 만화방의 계산대 앞부분과 출입문 부근의 바닥 등에 인화성 물질(휘발유, 공업용 용제의 주성분인 톨루엔 등)이 거의 대부분의 벽면이 만화책장으로 밀폐된 공간의 공기 중에 유출된 상태에서 장시간 방치됨으로써 휘발되어, 폭발한계 내의 가스 상태(유증기 상태)에서 촛불, 모기향 등의 인위적인 점화원(불씨)에 의해 착화됨으로써 화염과 폭발을 동반하여 급속하게 연소가 확장된 것으로 추정</li>
      <li>경찰은 2003. 8월 피고인의 자동차와 피고인이 운영하는 정육점에서 이 사건 봉지와 유사한 푸른색 비닐봉지 여러 장을 발견한 후 피고인으로부터 그 중 2장을 임의 제출받아 이를 국립과학수사연구소에 감정 의뢰한 결과 피고인의 정육점에서 제출받은 푸른색 비닐봉지가 이 사건 봉지와 유사(성분과 봉함 상태 등)한 것으로 감정</li>
      <li>피고인 등은 위 수정만화방 안에 가스레인지와 같은 조리 기구 혹은 전열 기구를 전혀 사용한 적이 없었고(피고인은 피고인의 동생이자 위 수정만화방의 종업원인 박OO에게 위와 같은 기구가 위험하니 들여놓지 말라고 말하였음), 만화방 출입문의 열쇠는 피고인과 위 박OO만이 갖고 있었으며, 캡스의 무장 및 해제 요령도 그들만이 알고 있었음</li>
    </ol>
  </ul>

<table>
  <thead>
    <tr>
      <th>쟁 점</th>
      <th>검사 측</th>
      <th>변호인</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>범행동기</td>
      <td>
        <ul>
          <li>피고인이 대부분을 빚으로 마련한 1억 2천만 원을 투자한 만화방을 운영하는 약 2개월 반 동안 자신의 이익금 정산은 커녕 피고인의 동생에 대한 월급 50만 원도 지급해본 적이 없을 정도로 이 사건 만화방의 운영 실적이 저조 </li>
          <li>피고인 부부가 운영하는 정육점에서 생기는 약간의 소득을 만화방의 적자보전에 사용 </li>
          <li>빚에 대한 이자 등 부담은 커져가는 반면, 별다른 재산이나 대책은 없었던 점  </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>만화방을 운영한지 불과 2개월여 경과한 시점에서 그 영업실적이 저조하다는 사정만으로 이 사건 범행에 이르렀다고 보기에는 그 동기가 매우 미약</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        목격진술
      </td>
      <td>
        <ul>
          <li>사건 화재가 유증기의 폭발에 의하여 발생한 것이라면, 최초 유증기의 폭발이 일어나야 하는데, 사건 화재 발생 당시 이 사건 건물 내부에 있던 빌딩서OO, 윤OO, 정OO등이 당시 펑하는 폭발 소리를 들었다고 진술</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>이 사건 화재를 최초로 발견하고 119로 신고한 박OO은  건물외부에서 건물 2층에서 연기와 불길이 나오는 것을 보고 119에 신고하였고 그 전에 폭발소리는 듣지 못한다고 진술</li>
          <li>박OO은 사건 화재를 발견한 후 건물 벽에 붙어 있는 ‘내과의원’의 간판이 쾅하는 소리와 함께 폭발하였다고 진술 </li>
          <li>실제 이 사건 화재로 건물 벽에 붙어 있던 ‘내과의원’의 간판 중 이 사건 만화방 쪽 부분이 손상</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>발화원인</td>
      <td>
        <ul>
          <li>화재는  흰색 플라스틱 통 안에 들어 있던 유류 성분이 피고인에 의해 밀폐된 공간인 위 수정만화방 바닥에 뿌려진 다음(피고인 외의 인물에 의해 뿌려졌을 가능성은 위와 같은 이유에서 없어 보인다) 시간이 지남에 따라 증발되어 약간의 불꽃으로도 폭발할 수 있는 유증기 상태로 위 공간에 가득 차게 되었고, 그 상태에서 촛불, 모기향 등과 같은 피고인이 미리 설치해둔 점화원(피고인 외의 인물에 의해 설치되었을 가능성은 위와 같은 이유에서 없어 보이고, 그 점화원에 관해 피고인이 입을 열지 않는 한 점화원의 구체적인 내용도 알 수가 없다)에 의해 불이 붙어 폭발이 일어나게 된 것으로 보이는 점 </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>만화방과 같은 환경에서도 바닥에 뿌려진 유류의 증발로 생긴 유증기의 폭발에 의한 화재의 발생이 이론적으로 가능하다는 자료들에 불과할 뿐, 구체적으로 이 사건 화재가 유증기의 폭발에 의한 화재라고 단정할 수 있는 자료들은 아니며, 이 사건 화재가 유증기의 폭발에 의하여 발생하였다고 볼 만한 자료가 없음</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>제3자의 침입가능성</td>
      <td>
        <ul>
          <li>캡스가 만화방 내에 설치한 경비장치 중 열선감지기에만 신호가 감지되고 침입감지기는 작동하지 않았고, 캡스 직원인 라OO이 2003. 6경 만화방 앞에 도착하였을 때까지도 만화방의 외부 유리가 거의 깨지지 않고 남아 있었던 것으로 보아 피고인의 퇴근 후 위 열선감지기의 신호 감지 시까지 제3자에 의한 외부의 침입은 없었던 것으로 보이는 점</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>만화방에는 출입문 2곳과 유리창 2곳에 4개의 침입감지기가, 내부 구석진 곳에 열선감기지 1대가 각 설치되어 있었는데, 침입감지기는 유리창을 파손하고 침입하는 경우에는 작동하지 않고, 열선감지기는 5도 이상의 급격한 온도변화에 작동 함</li>
          <li>침입감지기가 설치된 유리창 2곳은 만화방 외부의 베란다와 연결되어 있어 외부에서의 침입이 가능함</li>
          <li>화재 발생 후 위 유리창 2곳이 모두 파손되어 있었던 사실을 통해 제3자가 위 베란다를 통하여 위 유리창을 파손하고 만화방에 침입하는 경우 침입감지기는 당연히 작동하지 않음</li>
          <li>라OO이 보았다는 유리창은 위 베란다 방면의 침입감지기가 설치된 유리창이 아니라 만화방의 전면 유리창으로 보임</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>사건 화재보험 가입 경위</td>
      <td>
        <ul>
          <li>만화방이 개업 후 적자 상태로 운영되던 중 그 개업 준비 단계에서는 가입 권유를 거절하였던 화재보험의 보험모집인에게 피고인이 먼저 전화를 걸어 화재보험에 가입하였던 점(또한 피고인은 위 수정만화방의 개업 전 만화방에 관한 경비용역계약을 체결하면서 그 부가서비스인 ‘화재 발생 시 119 통보 서비스’의 가입을 권유받고서도 월정료 1만 원이 추가된다는 이유로 그 가입을 거절하기도 하였다), </li>
          <li>만화방의 수입과 지출의 규모에서는 상당한 금액인 월 10만원의 보험료를 불입하였으나, 만화방에서 마련하지 못하고 정육점에서 얻은 소득으로 불입하였고 불입일자를 6일이나 지나 위 화재 발생 전날에야 불입한 점</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>사건 화재보험 가입 경위 등의 사정들만으로는 피고인이 이 사건 범행을 저질렀다고 단정하기에 부족</li>
        </ul>
      </td>
    </tr>
</tbody>
</table>