<h3>문제1</h3>
<p>피고인과 피해자(46세)는 인터넷 게임을 하다 알게 된 사이로, 2005. 12월경부터 피해자의 집에서 동거 생활을 하면서 인터넷 게임상의 다른 게임자를 속이는 방법으로 생활비를 마련해 왔으나 2006. 2.경 피고인이 인터넷 사기게임을 한 것이 들통 나 더 이상 돈을 벌지 못하여 피해자와 생활비 문제로 자주 싸움을 하였다.</p>
<p>피해자는 2006.3.3. 11:50경 발이 묶인 채 자신의 집 12층에서 추락하여 골반 및 늑골골절 등 다발성 손상으로 인하여 사망에 이르렀다.</p>

<h4>기초사실</h4>
<ol>
  <li>피고인 및 변호인은, 피고인이 피해자와 이 사건 당일 05:00경부터 08:00경까지 심하게 다툼</li> 
  <li>이후 피해자와 그 아들로부터 피해자의 집에서 쫓겨난 후 같은 날 피해자의 아들이 출근한 후 인 10:00경 다시 피해자의 집으로 찾아가 재차 심하게 다툼</li>
  <li>그 과정에서 피고인이 피해자를 판시사실과 같이 폭행하고 피해자의 양쪽 손과 발목을 노란색 테이프로 묶음 사실</li>
  <li>추락 당시 이 사건 아파트에는 피고인과 피해자만이 있었던 사실</li>
</ol>

<table>
  <thead>
    <tr>
      <th>쟁 점</th>
      <th>검사 측</th>
      <th>변호인</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>사건 당시 정황</td>
      <td>
        <ul>
          <li>손이 자유로운 피해자가 발목이 묶인 채로 자살을 시도하였다는 피고인의 변소에 의구심이 드는 점</li>
          <li>피해자가 사망한 이후 피고인은 위 사실을 경찰에 신고하지 않고 도피하였던 점</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인이 피해자의 양손을 묶은 노란색 테이프를 풀어주고 또 그 양 발목을 묶은 위 테이프를 주먹 1개를 집어넣을 수 있을 만큼 느슨하게 풀어준 다음 화장실에 간 사이에, 피해자가 베란다로 이동하여 베란다 난간 위로 올라가 자살하려고 하였음</li>
          <li>피고인이 화장실에서 나와 이를 발견하고는 급히 달려가 떨어지려는 피해자의 바지를 붙잡았으나 그 옷이 쭉 벗겨지면서 피해자의 발목 부위까지 흘러내리게 됨</li>
          <li>이에 피해자의 옷을 잡은 손을 놓고 재빨리 피해자의 양 발목을 붙잡았고, 피해자에게 “여보야, 어디든 손을 잡아라.”라고 소리쳤으나, 피해자가 이를 거부하자 다시 피고인이 “내가 잘못 했으니까 뭐든 잡아달라.”고 말하였으나, 더 이상 피해자의 몸무게를 버티지 못하고 놓쳐 피해자가 그대로 추락하여 사망하게 된 것</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
      <td>
        <ul>
          <li>피해자의 신장이나 위 베란다 난간의 높이에 비추어 취중의 피해자가 난간을 뛰어넘는 것이 용이하지는 않은 것으로 보이는 점</li>
          <li>키 157cm의 피해자가 두 발이 테이프로 단단하게 묶인 상태이고 혈중 알콜농도 0.20%의 만취상태에서 혼자의 힘으로 높이 120cm에 달하는 베란다 난간에 피해자의 등을 대고 뛰어 올라 넘어갈 수 있다고는 보이지 않음</li>
          <li>만일 피고인이 피해자의 발목을 잡은 상태에서 허공에서 2 내지 3초간을 버텼다면 피해자의 몸무게로 인해 피해자의 발목에 상당히 강한 압박이 가하여졌어야 할 것이고 그러한 압박으로 인한 흔적이 사체에 남아있어야 할 것인데 그러한 흔적이 보이지 않음 </li>
          <li>떨어지려는 피해자의 바지를 붙잡았으나 그 바지가 벗겨졌다면 피해자가 추락하여 땅바닥에 닿았을 때는 그 바지가 완전히 벗겨져 있거나, 적어도 바지가 뒤집어진 채로 그 윗부분이 피해자의 발목을 지나서까지 벗겨져 있어야 할 것인데도, 피해자가 가만히 서있는 상태에서 누군가가 두 손으로 피해자의 바지를 잡고 고른 힘을 가하여 벗겨 내린 모습으로 바지가 피해자의 발목 부분까지만 내려와 있음</li>
          <li>피고인이 베란다 난간에 걸려 있는 피해자를 발견하고 급히 달려가 피해자를 잡았다고 하면서도 그 순간의 장면에 대하여는 정확하고 일관되게 진술하지 못하고 있는바 이 사건 당일의 날씨와 이 사건 발생 시각으로 미뤄볼 때 위 아파트의 안방에서 베란다 쪽에 있는 사람의 형상을 쉽게 구분할 수 있었다고 보이고 피고인으로서는 충격적인 장면이었을 것이므로 그 어떤 기억보다 선명하게 기억할 수 있을 것인데도 피고인이 그 전, 후의 상황을 기억하여 진술하면서 피해자가 베란다 난간에서 뛰어내리는 순간만을 기억하지 못한다는 것은 쉽게 납득할 수 없음</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피해자의 키가 157㎝이고, 베란다 난간의 높이가 120㎝이며, 피해자의 발목이 테이프로 묶여 있었고, 피해자가 술에 취한 상태에 있었으나, 베란다로 통하는 문은 피해자가 있던 안방 침대 바로 옆쪽에 있고, 위 문을 나설 경우 베란다 난간까지의 거리는 1m 남짓에 불과하였으므로, 피해자가 베란다까지 이동하거나, 베란다 난간의 상부를 손으로 잡은 후 뛰어 올라(발목이 묶여 있었어도 뜀을 뛰는 것은 가능해 보인다) 난간을 넘어가는 것이 반드시 어렵다고는 볼 수 없는 점(더욱이 베란다에는 빨래건조대가 놓여 있었고, 빨래건조대 아래 부분이 아래쪽을 향하여 휘어져 있었는바, 이는 피해자가 베란다 난간을 넘기 위하여 밟았던 것으로 추측해 볼 수 있다)</li>
          <li>피해자는 떨어지지 않기 위하여 상당히 저항하였을 것인데, 추락한 베란다 주변이나 피고인의 신체 및 의복에 특별한 흔적이 발견되지 아니한 점</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>사건 발생 당시 상황에 대한 제 3자의 증언</td>
      <td>
        <ul>
          <li>피고인이 자살하려는 피해자를 급히 달려가 잡은 후 매우 급박한 상황에서 피해자를 향해 “여보야, 어디든 손을 잡아라.”라고 소리쳤다면 이웃에 살고 있는 사람들이 이를 들을 수도 있었을 것인데 이를 들은 사람이 없는</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인이 피해자를 강제로 떨어뜨리려 하였다면 피해자가 추락을 전후하여 상당한  비명을 질렀음직 한데도, 이 사건 아파트 805호에 살고 있었던 김청덕은 “퍽”하고 떨어지는 소리 외에는 다른 소리를 못 들었다고 진술</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>범행동기</td>
      <td>
        <ul>
          <li>피고인이 수개월간 동거를 해온 피해자와 생활비 부족 등을 이유로 심하게 다툰 후 격분하여 그 감정을 다스리지 못한 채 피해자를 아파트 베란다 밑으로 떨어뜨려 죽게함</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인과 피해자가 술에 취한 상태로 서로 심하게 다투었다는 것 이외에는 달리 피고인이 피해자를 살해할만한 이유를 찾기 힘든 점</li>
        </ul>
      </td>
  </tbody>
</table>