<h3>문제2</h3>
<p>피고인은 공공근로에 종사하는 사람으로 2003.경부터 유부녀로서 언어장애를 가지고 있는 피해자(여, 35세)를 알게 되어 그 이후 그녀와 내연관계로 지내오다가 2004. 11. 4. 17:31경 피해자에게 전화하여 만나자고 하였지만 그녀가 집에 손님이 왔다는 핑계를 대며 나오지 않았다. 같은 날 18:51경 피해자에게 다시 전화하여 밖으로 나오도록 한 후, 같은 날 22:40경 자신의 차에 피해자를 태우고 산책로 입구에 도착하여 다음 날인 11. 5. 04:00경까지 차 안에서 피해자와 소주를 마시며 이야기를 나누었다.</p>

<h4>기초사실</h4>
<ol>
  <li>증거들에 의하면</li>
  <ol>
    <li>피해자는 2004. 11. 5. 05:05경 산책로 입구에서 산길을 따라 약 70m 가량 올라간 곳에 주차되어 있는 승합차 운전석 쪽 앞바퀴와 뒷바퀴 사이에서 머리 부위에 엽총 탄알에 의한 관통상을 입고 사망한 채로 경찰서 지구대 경사 서OO과 경장 정OO에 의해 발견된 사실,</li>
    <li>사망한 피해자는 혈중알콜농도 0.08%인 상태였으며,  피해자의 목 좌측에서 2개의 엽총 탄두가 검출된 사실,</li>
    <li>피해자 발견 장소 주변에서 3발의 엽총 탄피가 발견되었고, 위 승합차의 운전석 쪽 유리창이 둔기 등에 의하여 깨어져 있었던 사실, </li>
    <li>신OO, 김OO, 박OO는 2004. 11. 5. 04:40~04:50경 이 사건 범행현장으로부터 약 200m 가량 떨어진 위 성당 부근에서 좌측 이마가 찢어지고, 코피를 흘리며, 손과 옷에 피가 묻은 상태로 걸어 내려오는 피고인을 목격한 사실 </li>
  </ol>
  <li>또한 앞서 본 피고인 및 염주사 주지인 유OO의 각 진술 등 제반 증거들에 의하면,</li>
  <ol>
    <li>피고인은 2004. 11. 4. 22:30~22:40경 피해자와 위 승합차를 타고 이 사건 범행현장에 도착하여 피해자가 사망할 때까지 이 사건 범행현장에 함께 있었던 사실, </li>
    <li>피고인은 피해자가 머리에 총을 맞은 후 ‘사람 살려주세요’라고 소리친 사실, </li>
    <li>이 사건 범행현장에서 약 40m 떨어진 염주사 주지인 유OO은 평소 04:00에 새벽예불을 올려 왔는데, 2004. 11. 5.에도 평소와 같이 03:50경 잠에서 깨어 간단한 세면을 마친 후, 04:00경 법당으로 들어가 예불을 올리기 위하여 전등을 켜고 창문을 여는 순간 산 쪽에서 사람이 악쓰는 것 같은 소리가 크게 들려왔고, 이에 무서운 생각이 들어 법당의 불을 끄고 가운데 방으로 가 창문을 열고 산쪽을 바라보았는데, 아무것도 보이지 않아 창문을 닫고 위 방에서 나오는 순간 2～3회의 총소리가 들렸으며, 약 10여초 후 사람을 살려달라고 외치는 소리를 들은 사실.</li>
  </ol>
</ol>
<br/> 이러한 사실들을 종합하면, 피해자는 2004. 11. 5. 04:00경을 전후하여 이 사건 범행현장에서 머리에 근접하여 발사된 엽총에 의해 총상을 입고 사망한 사실 및 당시 피고인은 피해자와 함께 있었던 사실이 인정된다.</br>


<table class="stimuli">
  <thead>
    <tr>
      <th>쟁 점</th>
      <th>검사 측</th>
      <th>변호인</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>피고인의 범행 시인 및 번복이유</td>
      <td>
        <ul>
          <li>사건 범행 발생 후 범행현장인 산쪽에서 걸어 내려오는 피고인을 처음 목격한 박OO는 경찰 및 이 법정에서, 자신이 이 사건 범행일인 2004. 11. 5. 04:40경(이 법정에서는 위 시간에 대하여 약간 달리 진술하고 있다) 신OO, 김OO와 함께 교회에 새벽기도를 하러 가던 중 산쪽에서 내려오던 피고인이 교회 못미쳐 있는 성당 부근에서 그녀에게 “내가 사람을 죽였어요, 신고를 해주소.”라고 말하였고, 그녀가 깜짝 놀라 왜 사람을 죽였느냐고 묻자, 피고인이 “글쎄요”라고 말하였으며, 이어서 박형애가 어디에서 죽였느냐고 묻자, 피고인이 “산이요”라고 말하였다고 진술.</li>
          <li>위 박OO 일행이 피고인을 만난 직후 피고인을 목격한 김OO은 경찰에서, 같은 날 04:40경 위 교회에 새벽기도를 가던 중 성당 앞에서 피고인이 자신에게 “아주머니 내가 사람을 죽였어요, 전화 좀 씁시다."라고 말하였고, 이에 자신은 피고인에게 ”우리집은 너무 멀어서 갈 수가 없으니 전화를 하려면 저 건너 파출소에 가서 하라“고 말하고는 때마침 위 교회로 가던 승용차를 얻어 타고 그 자리를 떠났다고 진술 </li>
          <li>경찰서 지구대장 인 서OO은 같은 날 04:50경 이 사건 범행의 신고를 받고 같은 날 05:15경 범행현장에 도착했고 피고인은 경사 서OO, 경장 정OO과 함께 이미 현장에 도착해 순찰차 조수석 뒷좌석에 앉아 있었음.  서OO은 피고인에게 누가 피해자를 죽였느냐고 묻자, 피고인은 “제가 죽였습니다.”라고 말하였고, 다시 피고인에게 왜 죽였느냐고 묻자, 피고인은 “내연관계이며 2년 동안 사귀었다.”, “사람을 죽였으니 괴로웠는데 죄 값을 남자답게 받겠다.”고 말하고 담배를 달라고 하여 피우기까지 하였다고 진술.  </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>이 사건 범행 다음 날인 2004. 11. 6.부터 피고인을 상대로 본격적인 피의자신문이 이루어진 수사 과정에서 처음에는 자신이 사람을 죽였다고 말한 기억이 없다고 진술하다가,</li>
          <li>경찰 제2회 피의자신문과정에서는 “내가 파출소 경찰관들에게 그렇게 말한 것이 이제 기억나는데, 그것은 제가 이OO을 죽여서 그런 것이 아니고, 산에서 사람을 불러도 대답이 없어서 사람을 죽였다고 말을 한 것 같습니다.”라고 진술 한 후, </li>
          <li>다시 검찰 제1회 피의자신문과정에서부터는 “본인이 ‘도와주세요, 도와주세요, 사람이 죽어갑니다’라고 외치면서 산속에서 내려오고 있었는데 그냥 아줌마들이 지나쳐 버린 것 같았습니다. 그래서 제가 아줌마들에게 ‘사람을 죽였다’라고 말을 한 것 같고 그래야 아줌마들이 경찰에 신고를 해 줄 것으로 생각을 하였던 것 같습니다.”, “그러나 본인이 경찰관에게 그렇게 말한 부분은 기억이 나지 않습니다.”라는 취지로 진술하여 오다,</li>
          <li>공판과정에서는 “이 사건 발생 이후 산을 내려와 지나가던 사람들에게 ‘사람이 죽어간다’고 소리를 쳤음에도 불구하고 지나던 사람들이 아무런 조치를 취해 주지 않고 그냥 가버리는 것을 보고, 자신이 사람을 죽였다고 하면 신고해 줄 것 같은 생각이 들어 지나가던 여자들에게 ‘내가 사람을 죽였다’라고 말하였다”고 일관되게 주장하면서 이 사건 범행을 부인</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        범행 시인 시 상태
      </td>
      <td>
        <ul>
          <li>박OO의 이 법정에서의 진술에 의하면, 피고인이 박OO에게 자신의 범행을 시인할 당시 피고인의 목소리는 떨리거나 숨찬 소리가 아니었고 평범하였음.</li>
          <li>이에 비추어 피고인은 당시 극도의 흥분상태를 어느 정도 벗어난 것으로 보여지는 점, 피고인이 서OO에게 한 진술은 그 내용이 비교적 구체적이며, 이 사건 범행의 동기 및 자신의 당시 심경까지 진술하고 있는 점</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>기록에 의하면, 피고인의 주량은 2홉들이 소주 2병 가량으로서 소주 2병 가량을 마시고 난 다음에는 취중에 했던 이야기를 기억하지 못하는 일이 많을 정도인데, 이 사건이 발생하기 전 날인 2004. 11. 4. 저녁 무렵부터 이 사건이 발생할 때까지 사이에 피고인은 두어 병 가량의 소주를 마셔 매우 취한 상태였던 사실(피고인과 오랜 시간 같이 있었으면서도 피고인보다 술을 훨씬 덜 마신 것으로 보이는 피해자의 사망 당시 혈중알콜농도는 0.08% 가량이었음),</li>
          <li>사건 발생 이후 피고인을 처음으로 목격한 신OO, 김OO, 박OO도 당시 피고인이 술에 취해 비틀거렸다는 취지의 진술을 하고 있는 사실, 이후 서OO이 사건 현장에서 피고인을 처음 만났을 때에도 피고인은 여전히 술에 상당히 취한 상태였고 경찰관이 피고인을 경찰서 지구대로 연행하였을 때에도 계속 술에 취한 상태였으며 횡설수설하면서 불안한 심리상태를 보임 </li>
          <li>피고인은 경찰관에게 체포되었을 당시 옷에 대소변을 볼 정도로 이 사건으로 인해 정신적 충격을 받은 상태였던 사실에 비추어 보면, 피고인은 이 사건 발생 이후 주취, 죄책감, 충격, 공포 등으로 매우 혼란스러운 정신상태 내지는 심리상태에 있었다고 할 것이고, 피고인의 진술은 이러한 온전하지 못한 정신상태에서 행하여진 것으로 보임</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>범행동기</td>
      <td>
        <ul>
          <li>피해자는 (여, 35세)을 알게 되어 내연관계로 지내오다가 피해자는 자신의 외박문제로 가족회의까지 벌어지는 등의 사태에 이르자 피고인과의 만남에 부담감을 느끼거나 꺼리게 되어, 2004. 11경 피고인의 전화를 받고도 손님이 왔다는 핑계를 대며 만날 수 없다고 말하였음, </li>
          <li>이러한 피해자의 태도에 화가 난 피고인이 피해자와 말다툼을 하던 중 우발적으로 이 사건 범행에 이르게 되었을 가능성이 큰 것으로 보임</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>범행부인</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>엽총 소유 가능성 및 은폐가능성</td>
      <td>
        <ul>
          <li>40여분 동안 사이에 피고인은 승합차에 들어갔다 나오거나 혹은 사건 범행에 사용된 엽총을 은닉하는 등 수사기관이나 법정에서 차마 밝힐 수 없는 행동을 취하였을 것이라는 강한 의심이 듬(실제로 현재까지도 피고인이 사용하였을 엽총이 발견되지 않고 있음).</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인이 사건 범행에 사용된 엽총을 평소 화물차에 싣고 다니는 방법으로 소지하였다고 볼만한 자료가 기록상 보이지 않음</li>
          <li>피고인의 처, 친척, 피고인과 가장 절친하여 같이 낚시를 가기도 한 사람인 노OO 등은 수사기관에서 피고인의 차안 또는 차안에 실려 있는 낚시가방에서 엽총을 본 사실이 없으며 피고인이 엽총을 사용하여 사냥을 한 적이 없다고 진술</li>
          <li>피고인은 수년간 공공근로로 생계를 이어가는 사람으로서 총기를 구입할 만큼 경제적인 여력이 있어 보이지도 않으며, 이를 빌리거나 절취하거나 습득하는 등 납득할만한 소지개시행위가 있었다는 점에 관한 아무런 증거도 기록상 발견되지 않음.</li>
          <li>경찰은 이 사건 발생 직후 상당 기간에 걸쳐 많은 인력과 장비를 동원하여 광범위한 지역에서 엽총을 찾고자 하였으나 찾지 못하였고 엽총을 발견하였다는 신고도 들어오지 않았음.</li>
          <li>피고인이 이 사건 발생 지역의 지리에 비교적 익숙하다는 점을 감안하더라도 당시 상당히 술에 취하여 있었던 점을 고려하여 보면, 피고인이 40분 안에 엽총을 감추려고 이동할 수 있는 지역은 그리 넓지는 않았을 것이라고 추단.</li>
          <li>광범위하고 밀도 있는 수색을 통해서도 엽총이 발견되지 않음.</li>
          <li>피고인이 이 사건 범행 이후 최초로 발견되기까지 약 40분 동안에 총기를 감추기 위하여 산 속을 돌아다녔다면 피고인의 손이나 얼굴 등이 덤불이나 잡목에 긁혀 생채기가 났을 가능성이 많음에도 불구하고, 피고인의 손이나 얼굴에는 이러한 유형의 상처는 전혀 없고 다만 이마에만 누구인가에 의해 흉기에 의해 강타당하여 생긴 것으로 보이는 매우 중한 상처가 있었음.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>제3자의 범행 가능성</td>
      <td>
        <ul>
          <li>승합차에서 피고인 것 이외의 특이한 지문이 발견되지 않음</li>
          <li>피고인이 불상의 남자 3인에 대한 인상착의를 제대로 설명하지 못함</li>
          <li>사건 범행시각과 현장의 위치에 비추어 볼 때 우연히 지나가던 제3자에 의하여 이 사건 범행이 이루어졌다고 생각하기 어려움</li>
          <li>피고인은 불상의 남자 3인이 사건 범행을 범한 즉시 산쪽으로 도망하였다고 하는데, 그와 같은 경우에 통상인이라면 즉시 그 사실을 경찰에 신고하고 범인의 도주로를 봉쇄하는 등 범인의 검거를 위하여 노력함이 일반적이라 할 것인데도 피고인은 이 사건 범행현장에서 상당 시간동안 머무르며 그와 같이 예상되는 조치를 취하지 않은 점 </li>
          <li>사건 범행현장에 있던 위 차량의 조수석 뒷문 외부 손잡이 부분, 차량 내부 조수석 뒤 바닥, 위 차량 내부 조수석 바닥 등지에서 피고인의 혈흔이 발견된 점에 비추어 보면, 피고인은 이 사건 범행 발생 이후 위 승합차 내부에 들어갔던 것으로 판단</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>피고인은 이 사건 범행이 불상의 남자 3인에 의하여 범하여졌다고 주장</li>
          <li>피고인은 이 사건 범행 발생 즉시 차 안에 있던 휴대폰으로 신고하려 하였으나 승합차의 운전석 문이 잠겨있어 신고하지 못하였다고 주장</il>
        </ul>
      </td>
    </tr>
</tbody>
</table>