<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>테스트</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/sqy.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <br />
  <div class="alert alert-info">
    <h4>주의사항：</h4>
    <p></p>
    <p>[문제 1]을 푸는 동안에는 [문제 2]을 보거나 풀 수 없습니다. &nbsp;&nbsp;[문제 1]의 제한 시간 9분이 지나면 자동적으로 [문제 2]로 넘어갑니다.</p>
    <p>각 문제에서 입력한 내용은 자동적으로 저장됩니다.</p>
  </div>
  <div class="test">
    <div class="question">
      <div class="backup" id="acBak1">
        <input class="btn btn-success" id="acBtn1" type="button" value="문제1"/>
      </div>
      <div class="alarm alert alert-warning" id="alarmClock1"><span class="glyphicon glyphicon-time"></span> 9:00</div>
      <% include stimulus1.html %>
      <form id="form1">
        <textarea class="col-sm-12" rows="15" name="content"></textarea>
        <input type="hidden" name="question" value="1"/>
        <input type="hidden" name="user_id" value="<%= user_id %>"/>
        <input type="hidden" name="type" value="<%= type %>"/>
      </form>
    </div>
    <div class="col-sm-12 question">
      <div class="backup pending" id="acBak2">
        <input class="btn btn-success hide" id="acBtn2" type="button" value="문제2"/>
      </div>
      <div class="alarm alert" id="alarmClock2"><i class="icon-time"></i> 9:00</div>
      <% include stimulus2.html %>
      <form id="form2">
        <textarea class="col-sm-12" rows="15" name="content"></textarea>
        <input type="hidden" name="question" value="2"/>
        <input type="hidden" name="user_id" value="<%= user_id %>"/>
        <input type="hidden" name="type" value="<%= type %>"/>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/test1.js"></script>
</body>
</html>