<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>테스트</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/sqy.css" rel="stylesheet"/>
</head>
<body>
<br />
<div class="container">
  <div class="alert alert-info">
    <h4>주의사항：</h4>
    <p></p>
    <p>화면에 있는 [문제1] 혹은 [문제2] 버튼을 클릭하면, 자유롭게 문제를 바꿔가며 풀 수 있습니다.&nbsp;&nbsp; 단, 한 문제를 푸는 시간이 9분을 초과하면, 다시 그 문제를 풀 수는 없습니다. </p>
    <p>빈칸에 입력한 내용들은 자동으로 저장됩니다.</p>
  </div>
  <div class="test">
    <div class="span6 question">
      <div class="backup" id="acBak1">
        <input class="btn btn-success" id="acBtn1" type="button" value="문제1"/>
      </div>
      <div class="alarm alert alert-warning" id="alarmClock1"><span class="glyphicon glyphicon-time"></span> 9:00</div>
      <% include stimulus3.html %>
      <form id="form1">
        <textarea class="span6" rows="15" name="content"></textarea>
        <input type="hidden" name="question" value="1"/>
        <input type="hidden" name="user_id" value="<%= user_id %>"/>
        <input type="hidden" name="type" value="<%= type %>"/>
        <input type="hidden" name="contTime" id="contTime1"/>
      </form>
    </div>
    <div class="span6 question">
      <div class="backup" id="acBak2">
        <input class="btn btn-success" id="acBtn2" type="button" value="문제2"/>
      </div>
      <div class="alarm alert alert-warning" id="alarmClock2"><span class="glyphicon glyphicon-time"></span> 9:00</div>
      <% include stimulus4.html %>
      <form id="form2">
        <textarea class="span6" rows="15" name="content"></textarea>
        <input type="hidden" name="question" value="2"/>
        <input type="hidden" name="user_id" value="<%= user_id %>"/>
        <input type="hidden" name="type" value="<%= type %>"/>
        <input type="hidden" name="contTime" id="contTime2" />
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/test2.js"></script>
</body>
</html>