<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Thank you</title>
  <link href="http://cdn.bootcss.com/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/sqy.css" rel="stylesheet"/>
</head>
<body>
  <div class="portal text-center">
    <h1>
      <p>실험 끝났습니다.</p>
      <p>감사합니다.</p>
    </h1>
  </div>
</body>
</html>